.footer__social {
  background: var(--bg-dark);
  overflow: hidden;

  .icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;

    &:hover {
      fill: var(--main-color);
    }
  }

  .social__list {
    max-width: 225px;
    margin: 0 auto;
  }

  .footer__copyright {
    font-size: 11px;
    color: var(--p-text);
    text-align: center;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: var(--p-text);
    }
  }
}

.privacy-policy {
  margin-bottom: 5px;
  display: block;
  color: #86878b;
  text-decoration: none;
  font-size: 9px;
  text-align: center;
}